# IntelliJ project files
.idea
*.iml
out
gen
data
backend/static/files

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode
!.vscode/extensions.json
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

**/.DS_Store
**/__pycache__
**/.venv
**/.classpath
**/*.secret
**/.env
ansible/secrets
**/*.env.json
manual_tests