{
	order rate_limit first
}

http://localhost, http://caddy

handle_path /* {
	handle /kronos/* {
		reverse_proxy kronos-web-ui:3000
	}



	handle /* {
		reverse_proxy pix-web-ui:3030
	}

	handle /api/v1/* {
		rate_limit {cookie.uid} 100r/s
		uri strip_prefix /api/v1

		handle /users/* {
			reverse_proxy api-server:8000
		}

		handle /auth/* {
			reverse_proxy api-server:8000
		}

		handle /projects* {
			reverse_proxy api-server:8000
		}

		handle /processing-requests* {
			reverse_proxy api-server:8000
		}

		handle /assets* {
			reverse_proxy api-server:8000
		}

		handle /files* {
			reverse_proxy api-server:8000
		}

		handle /blobs* {
			reverse_proxy api-server:8000
		}

		handle /kronos* {
			uri strip_prefix /kronos
			reverse_proxy kronos-http:8000
		}
		
	}
}

handle /admin/grafana/* {
	reverse_proxy grafana:3000
}

handle /admin/zipkin/* {
	uri strip_prefix /admin
	reverse_proxy zipkin:9411
	header X-Forwarded-Host {host}
	header X-Forwarded-For {remote}
	header X-Real-IP {remote}
}

handle /admin/kafka-ui/* {
	reverse_proxy kafka-ui:8080
}

handle /admin/prometheus/* {
	reverse_proxy prometheus:9090
}
