name: Docker Image CI - LOCAL deployment image

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Build the Docker image
        run: docker build ./backend --file backend/Dockerfile --tag pix-api:$(date +%s)
